<div class="container" id="picture">
    <div class="row">
        <div class="col-sm-12">
            <h1>BURGER TIME</h1>
            <img src="/assets/img/burger.jpg" alt="">
        </div>

    </div>
</div>

<div class="container" id= "A">
    <div class="row">
        <div class="col-sm-6">
            <h2>Burgers that are ready</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    
                    {{burger_name}}
 </li>
                    <button class="change-devoured btn btn-primary"  data-id="{{id}}" data-newdevoured="{{devoured}}">
                        Eat Me
                    </button>
               
                {{/unless}}
                {{/each}}
            </ul>





        </div>
        <div class="col-sm-6">
            <h2>Burgers that have been eaten</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container" id="picture">
    <div class="row">
        <div class="col-sm-12">

            <h2>Add A Burger</h2>
            <form class="create-form">
                <div class="form-group">
                    <label for="ca"></label>
                    <input type="text" id="ca" name="name">
                </div>
                <button type="submit" class="btn btn-primary">Add Burger</button>
                <p>Add a burger with with as many ingredients as you want</p>

            </form>
        </div>
    </div>
</div>